.popoverContent {
  margin-right: 20px;
  min-width: 400px;
  overflow-y: hidden;
}

.timeline-container {
  margin: 10px auto;
  padding: 20px;
}

.timeline {
  border-left: 2px solid rgb(255, 196, 0);
  max-height: 600px;
}

.container {
  position: relative;
  margin: 0 0 20px 20px;
  padding: 10px;
  color: gray;
  max-width: 500px;
}

h1 {
  font-size: 15px !important;
}

.container .content h2 {
  font-size: 15px !important;
  color: #000000;
  font-weight: 500;
  margin-top: -20px;
  margin-left: 20px;
}

.container .content h2::before {
  content: '';
  position: absolute;
  width: 20px;
  height: 20px;
  background: white;
  border-radius: 100px;
  left: -31px;
  border: 3px solid rgb(255, 196, 0);
}

.container .content .timeline-boundary::before {
  background: rgb(255, 233, 160);
  border: 3px solid rgb(255, 196, 0);
}

.container .content p {
  font-size: 13px !important;
  color: #000000;
  margin: 10px 0 0px 20px;
}

.container .content img {
  width: 100px;
  height: auto;
}
