.filterComponent {
  background: rgba(217, 217, 217, 0.2);
  font-family: 'Gill Sans';
  padding: 20px;
  p {
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 20px;
  }

  label {
    color: #000000;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 0.21em;
  }
}
