.techListContainer div {
  max-height: 193px !important;
  margin-left: 4px;
  width: 100%;
}
.techListContainer {
  height: 193px !important;
}
header {
  margin-bottom: 7px;
  color: rgb(27, 77, 124);
}
.techListContainer .resetTechFilterButton {
  position: absolute;
  top: 50px;
  right: 30px;
  margin: 0;
}
.customFilterContainer {
  border-bottom: 0px !important;
  overflow-y: auto;
  overflow-x: hidden;
  margin: 30px 0;
}
.customFilterContainer div {
  max-height: 230px !important;
  margin-left: 10px;
  width: 100%;
}
.customFilterContainer button {
  position: absolute;
  bottom: calc(100% - 400px);
  right: 30px;
  margin: 0;
}
.customFilterContainer select {
  max-width: 300px !important;
}
.customFilterContainer svg {
  padding-left: 180px;
}
.customFilterContainer .rc-slider-handle {
  width: 15px;
  height: 15px;
}
.rc-slider {
  width: 220px !important;
  margin-left: -5px !important;
}

.option-button {
  display: flex;
  flex-direction: row-reverse;
}

@media only screen and (max-width: 921px) {
  .option-button {
    width: 100%;
    margin-top: 0px !important;
  }
}

@media only screen and (max-width: 767px) {
  .option-button {
    width: 100%;
    margin: 0px;
    margin-top: 80px !important;
    left: 0;
  }
}
