header {
  margin-bottom: 7px;
  color: rgb(27, 77, 124);
}

.rc-slider {
  width: 220px !important;
  margin-left: -5px !important;
}

.option-button {
  display: flex;
  flex-direction: row-reverse;
  z-index: 1;
}

@media only screen and (max-width: 921px) {
  .option-button {
    width: 100%;
    margin-top: 0px !important;
  }
}

@media only screen and (max-width: 767px) {
  .option-button {
    width: 100%;
    margin: 0px;
    margin-top: 80px !important;
    left: 0;
  }
}
.filterWrapper {
  padding-right: 10px;
}
