.eventActionForm {
  margin: 0 auto;
  width: 60vw;

  label {
    width: 80px;
  }

  .submitBtn {
    display: flex;
    justify-content: center;
  }

  .selectMultiple {
    min-width: 300px;
  }
}
