.projectComponent {
  display: flex;
  height: 250px;

  .projectImage-large {
    background-color: #dddddd;
    flex-basis: 30%;

    img {
      height: 100%;
      margin: 0 auto;
      object-fit: cover;
    }
    @media only screen and (max-width: 768px) {
      display: none;
    }
  }

  .pjrojectDetails-large {
    display: flex;
    flex-basis: 70%;
    flex-direction: column;
    gap: 10px;
    justify-content: space-between;
    padding: 0 20px;

    .title-large {
      -webkit-box-orient: vertical;
      color: #c1391d;
      display: -webkit-box;
      font-size: 16px;
      font-weight: 700;
      -webkit-line-clamp: 2;
      overflow-y: hidden;
      text-overflow: ellipsis;
      text-transform: uppercase;
    }

    .description-large {
      -webkit-box-orient: vertical;
      display: -webkit-box;
      font-size: 14px;
      font-weight: 500;
      -webkit-line-clamp: 4;
      min-height: 60px;
      overflow-y: hidden;
      text-overflow: ellipsis;

      @media only screen and (max-width: 768px) {
        -webkit-line-clamp: 3;
      }
    }

    .projectBadgesContainer {
      align-items: flex-end;
      display: flex;
      justify-content: space-between;
      width: 100%;

      .projectBadges-large {
        span {
          margin: 0;
          zoom: 0.8;
        }
      }

      .moreBtn {
        button {
          background-color: #0062ac;
          color: white;
          font-size: smaller;
          font-weight: 600;
          padding: 5px 30px;
        }
      }

      @media only screen and (max-width: 768px) {
        width: 85vw;
      }
    }

    div.projectBadges {
      gap: 5px;
      max-width: 500px;
    }

    @media only screen and (max-width: 768px) {
      padding: 0;
    }
  }
  @media only screen and (max-width: 768px) {
    background-color: #f7f7f7;
    padding: 10px;
  }
}
