.technologiesPage {
  margin: 0 auto;
  max-width: 1440px;
  overflow: scroll;
  -ms-overflow-style: none; /* IE and Edge */
  padding: 30px 20px;
  scroll-behavior: smooth;
  scrollbar-width: none; /* Firefox */
  width: 90vw;
  &::-webkit-scrollbar {
    height: 0;
    width: 0;
  }
  h3 {
    margin: 30px 10px;
    text-transform: uppercase;
  }
  .searchFilter {
    display: flex;
    justify-content: space-between;
    padding: 0 10px;

    @media only screen and (max-width: 768px) {
      position: relative;
      top: 65px;
    }
  }

  @media only screen and (max-width: 768px) {
    margin-top: 20px 0;
    width: 100vw;
    padding: 20px 0 0;
  }
}

.technologies {
  > div:nth-child(odd) {
    background-color: #f7f7f7;
  }
}

.technologiesContainer {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  padding: 10px 10px 40px;

  .detailsSection {
    display: flex;
    gap: 20px;
    @media only screen and (max-width: 768px) {
      gap: 0;
    }
  }

  .technologyDetails {
    margin-right: 30px;
  }

  .topRow {
    display: flex;
    font-size: 18px;
    font-weight: 600;
    justify-content: space-between;
    margin: 0 20px 10px 0;

    .topRowTitle {
      color: #1f5a95;
      text-transform: uppercase;
      @media only screen and (max-width: 768px) {
        display: block;
      }
    }

    a {
      color: #3258e0;
    }
  }
}

@media only screen and (max-width: 768px) {
  .disasterDetails {
    margin: 0;
  }
}
