.technologies {
  overflow: scroll;
}
.technologiesContainer {
  display: flex;
  flex-direction: column;
  padding: 10px;

  .detailsSection {
    display: flex;
    gap: 20px;
  }

  .technologyDetails {
    margin-right: 30px;
  }

  .topRow {
    display: flex;
    font-size: 18px;
    font-weight: 600;
    justify-content: flex-end;
    margin: 0 20px 10px 0;

    a {
      color: #3258e0;
    }
  }
}
