.technologiesPage {
  margin: 0 auto;
  max-width: 1440px;
  overflow: scroll;
  width: 90vw;
  -ms-overflow-style: none; /* IE and Edge */
  scroll-behavior: smooth;
  scrollbar-width: none; /* Firefox */
  &::-webkit-scrollbar {
    height: 0;
    width: 0;
  }
  h3 {
    margin-left: 10px;
    text-transform: uppercase;
    margin-top: 20px;
  }
}

.technologiesContainer {
  display: flex;
  flex-direction: column;
  padding: 10px;

  .detailsSection {
    display: flex;
    gap: 20px;
  }

  .technologyDetails {
    margin-right: 30px;
  }

  .topRow {
    display: flex;
    font-size: 18px;
    font-weight: 600;
    justify-content: flex-end;
    margin: 0 20px 10px 0;

    .topRowTitle {
      display: none;
    }

    a {
      color: #3258e0;
    }
  }
}

@media only screen and (max-width: 768px) {
  .technologiesPage {
    h3 {
      margin-top: 90px;
    }
  }

  .technologiesContainer {
    .detailsSection {
      gap: 0;
    }

    .disasterDetails {
      margin: 0;
    }

    .topRow {
      justify-content: space-between;

      .topRowTitle {
        display: block;
      }
    }
  }
}
