div .infoCard {
  display: flex;
  gap: 5px;
  height: 300px;
  &-details {
    background: rgba(237, 237, 237, 0.48);
    padding: 10px;
    position: relative;
    width: 300px;
    &--title {
      display: block;
      font-size: 20px;
      font-weight: 600;
      margin-bottom: 10px;
    }
    &--text {
      -webkit-box-orient: vertical;
      display: -webkit-box;
      -webkit-line-clamp: 8;
      overflow-y: hidden;
      text-overflow: ellipsis;
    }
  }
  &-pointer {
    border-color: transparent transparent transparent rgba(237, 237, 237, 0.48);
    border-style: solid;
    border-width: 150px 0 150px 150px;
    height: 0;
    width: 0;
  }
}
