div .infoCard {
  display: flex;
  gap: 5px;
  height: 200px;
  margin-top: 5px;
  &-details {
    background: rgba(237, 237, 237, 0.48);
    padding: 10px;
    position: relative;
    width: 250px;

    &--title {
      display: block;
      font-size: 15px;
      font-weight: 600;
      margin-bottom: 10px;
    }
    &--text {
      -webkit-box-orient: vertical;
      display: -webkit-box;
      font-size: 12px;
      -webkit-line-clamp: 5;
      overflow-y: hidden;
      text-overflow: ellipsis;
    }
  }
  &-pointer {
    border-color: transparent transparent transparent rgba(237, 237, 237, 0.48);
    border-style: solid;
    border-width: 100px 0 100px 100px;
    height: 0;
    width: 0;
  }

  @media only screen and (max-width: 1000px) {
    zoom: 0.8;
  }

  @media only screen and (max-width: 768px) {
    display: none;
  }
}
