.newProject {
  display: flex;
  flex-direction: column;
  margin: 0 auto 60px;
  max-width: 1440px;
  padding: 30px 20px;
  width: 90vw;
  background-color: #f7f7f7;

  .createProject {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    margin-bottom: 50px;
  }

  h3 {
    margin-bottom: 20px;
  }
}

.selectMultiple {
  max-width: 100%;
}
.dropdown-content {
  max-width: 100% !important;
  top: -50px !important;
}
