.projectRadarContainer {
  margin: 0 auto;
  max-width: 100vw;
  padding: 20px 10px;

  .projectRadar {
    display: flex;
    gap: 5px;
    height: 100vh;

    .tabsSection {
      flex-basis: 50%;
      h5 {
        cursor: pointer;
        font-size: 14px !important;
        font-weight: 700 !important;
        letter-spacing: 0.21em;
        line-height: 14px;
      }
      * {
        border: none;
        box-shadow: none;

        &[aria-selected='true'] {
          text-decoration: underline;
        }
      }
    }
    .projectsSection {
      flex-basis: 50%;
      width: 100%;
      overflow-y: scroll;

      .accordion {
        background: white;
        border-style: none;
        position: sticky;
        top: 0;

        *,
        *::after,
        *::before {
          border-style: none;
        }

        h2 {
          background-color: #d9d9d933;
          border-radius: 6px;
          outline: none;
          &:focus-visible {
            outline: none;
          }

          > button {
            box-shadow: none;
            outline: none;
          }
        }

        .filterComponent {
          height: 90vh;
          overflow: scroll;
        }

        @media only screen and (max-width: 1100px) {
          top: -21px;
        }
      }

      .MuiAccordionDetails-root {
        height: 600px;
        overflow: scroll;
      }

      .projectComponent {
        padding-bottom: 10px;
        padding-left: 15px;
        padding-right: 0px;
        .pjrojectDetails-large {
          .title-large {
            -webkit-line-clamp: 1;
            @media only screen and (max-width: 1100px) {
              -webkit-line-clamp: 3;
            }
          }
          .projectBadgesContainer {
            width: 100%;
            .projectBadges-large span {
              zoom: 0.7;
            }
          }
        }
      }
    }

    .projectsCount {
      font-size: 12px;
      font-style: italic;
      font-weight: 700;
      padding: 10px;
    }
  }
}

@media only screen and (max-width: 1100px) {
  .projectRadarContainer {
    overflow: scroll;
    padding: 20px 0px;

    .projectRadar {
      align-items: center;
      flex-direction: column;
      height: auto;
      .projectsSection {
        width: 90vw;
        padding: 0 10px;
        .accordion .filterComponent {
          height: auto;
        }
      }

      .chakra-tabs__tablist {
        display: flex;
        justify-content: center;
      }
      @media only screen and (max-width: 800px) {
        .projectComponent {
          .pjrojectDetails-large {
            justify-content: space-around;
            .title-large {
              font-size: 16px;
              overflow-y: hidden;
            }
            .description-large {
              display: none;
            }
            .projectBadgesContainer {
              width: 100%;
              .projectBadges-large span {
                zoom: 0.7;
              }
            }
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 970px) {
  .projectRadarContainer {
    .filterItems {
      grid-template-columns: 1fr 1fr;
      @media only screen and (max-width: 450px) {
        grid-template-columns: 1fr;
      }
    }

    @media only screen and (max-width: 767px) {
      margin-top: 100px;
    }
  }
}
