.partnersList {
  align-items: flex-end;
  display: flex;
  justify-content: center;
  padding: 0 10px 20px 5px;
  width: 100%;

  img {
    height: 40%;
    padding: 0 8px;
    width: 45%;

    &.CBILogo {
      height: 35%;
    }
  }
}

.UNDPLogo {
  cursor: pointer;
  margin-top: -15px;
  position: absolute;
  right: -10px;
  width: 100px;

  @media only screen and (max-width: 767px) {
    display: none;
  }
}

.launchBtnMobile {
  align-self: center;
  margin-top: 50vh;

  @media only screen and (min-width: 767px) {
    display: none;
  }
}

a .launchBtnDesktop {
  @media only screen and (max-width: 767px) {
    display: none;
  }
}
