.recentDisastersCollection {
  display: flex;
  background-color: white;
  padding: 30px 10px 0;
  gap: 35px;
  margin-bottom: 20px;
  flex-shrink: 0;
  height: 250px;
  overflow: scroll;
  flex-direction: column;
  width: 350px;

  .urgentBadge {
    display: flex;
    justify-content: center;
  }

  .divider {
    width: 100%;
    margin: 15px 0;
  }

  .disastersList {
    display: flex;
    flex-direction: column;
    align-items: center;

    .disasterEvent {
      text-align: center;

      &-title {
        font-size: 16px;
      }

      &-summary {
        font-size: 14px;
        font-weight: 600;
      }
    }
  }
}
