.projectDetailsPage {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  max-width: 1440px;
  overflow: scroll;
  -ms-overflow-style: none; /* IE and Edge */
  scroll-behavior: smooth;
  scrollbar-width: none; /* Firefox */
  &::-webkit-scrollbar {
    height: 0;
    width: 0;
  }

  .projectHero {
    display: flex;
    height: 400px;

    > .projectTitle {
      background-color: aliceblue;
      display: flex;
      flex-basis: 50%;
      flex-direction: column;
      flex-grow: 0;
      justify-content: center;
      padding: 50px;

      span {
        -webkit-box-orient: vertical;
        display: -webkit-box;
        font-size: 40px;
        font-weight: 700;
        -webkit-line-clamp: 4;
        line-height: 65px;
        margin-bottom: -20px;
        margin-top: -35px;
        overflow-y: hidden;
        text-align: left;
        text-overflow: ellipsis;
      }

      .seeProject {
        background: #212e35;
        border-radius: 6px;
        color: white;
        font-size: 16px;
        font-weight: 700;
        letter-spacing: 0.06em;
        line-height: 19px;
        padding: 20px 70px;
        position: relative;
        text-align: left;
        top: 70px;
        width: max-content;
      }
    }

    > .projectImg {
      flex-basis: 50%;
      > img {
        height: 100%;
        object-fit: cover;
        width: 100%;
      }
    }
  }

  .projectBody {
    display: flex;
    gap: 20px;

    .projectToc {
      display: flex;
      flex-basis: 20%;
      flex-direction: column;
      height: 100vh;
      padding-left: 50px;
      padding-top: 45px;
      position: sticky;
      top: 0;

      a {
        font-size: 20px;
        letter-spacing: 0.06em;
        line-height: 28px;
        margin-bottom: 10px;
        text-align: left;
      }

      .bolden {
        font-weight: 700;
      }
    }

    .projectContent {
      display: flex;
      flex-basis: 80%;
      flex-direction: column;
      padding-top: 45px;
    }

    .projectDetailsTitle {
      font-size: 20px;
      font-weight: 700;
      text-align: left;
    }

    .projectDetailsContent {
      font-size: 20px;
      font-weight: 400;
      padding-right: 40px;
      text-align: justify;
    }

    .separater {
      border: 1px solid #00000040;
      margin: 20px 0;
    }

    .otherDetails {
      margin-bottom: 20px;
      text-align: left;

      .otherDetailsLabel {
        font-size: 20px;
        font-weight: 500;
        margin-right: 15px;
      }

      .otherDetailsContent {
        font-size: 20px;
        font-style: italic;
      }
    }
  }
}

@media only screen and (max-width: 930px) {
  .projectDetailsPage .projectHero .projectTitle {
    padding: 100px;
  }
}

@media only screen and (max-width: 768px) {
  .projectDetailsPage {
    .projectHero {
      margin-top: 80px;

      .projectTitle {
        align-items: center;
        flex-basis: 100%;
        span {
          -webkit-box-orient: vertical;
          display: -webkit-box;
          -webkit-line-clamp: 2;
          overflow-y: hidden;
          text-align: center;
          text-overflow: ellipsis;
          word-break: break-word;
        }
      }
      .projectImg {
        display: none;
      }
    }

    .projectBody {
      .projectToc {
        display: none;
      }

      .projectContent {
        flex-basis: 100%;
        padding: 45px 20px;
      }
    }
  }
}
