.projectPreviewContainer {
  .image {
    box-shadow: 12px 0 15px -4px rgba(31, 73, 125, 0.8),
      -12px 0 8px -4px rgba(31, 73, 125, 0.8);
    height: 300px;
    padding: 0 5px;
    width: 400px;

    img {
      height: 100%;
      object-fit: contain;
      object-position: center;
      width: 100%;
    }
  }

  .projectTitle {
    -webkit-box-orient: vertical;
    color: #0062ac;
    display: -webkit-box;
    font-size: 18px;
    font-weight: 600;
    -webkit-line-clamp: 1;
    max-width: 400px;
    overflow-y: hidden;
    text-overflow: ellipsis;
  }
}
