.searchModalHeader {
  justify-content: center;
  text-align: center;
  text-transform: capitalize;
}

.searchModalBody {
  justify-content: center;
  flex-wrap: wrap;
}

.searchModalDescription {
  text-align: justify;
  text-justify: inter-word;
}
                      
                