.projectsList {
  display: flex;
  flex-direction: column;
  overflow: scroll;
  padding: 30px 20px;

  .projectsListContainer {
    display: flex;
    .projectContainer {
      flex-basis: 60%;
    }

    .filters {
      background-color: aqua;
      flex-basis: 40%;
    }
  }

  hr {
    border: 1px solid #cccccc;
    margin: 15px 0;
  }
}
