// .disasterContainer {
//   display: flex;
//   flex-direction: column;
//   padding: 10px;

  .detailsSection {
    display: flex;
  }

  .disasterDetails {
    margin-right: 30px;
  }

  .topRow {
    display: flex;
    font-size: 20px;
    font-weight: 600;
    justify-content: space-between;
    margin-bottom: 20px;

    a {
      color: #3258E0;
    }
  }
// }
