.radarContainer {
  display: flex !important;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  margin: 30px 28px 30px 0;
  height: max-content;

  .tabsComponents {
    margin: 0 !important;
    min-width: 370px !important;
  }

  .radarComponentsContainer {
    flex-basis: 75%;
  }
}

.radarTitleContainer {
  display: flex;
  position: absolute;
  justify-content: space-between;
  top: 20px;

  .titleFiller {
    width: 550px;
    z-index: -1;
  }
}

@media only screen and (max-width: 1080px) {
  .radarContainer {
    flex-direction: column;
    align-items: center;
    margin-right: 0;

    .tabsComponents {
      min-width: 80vw !important;

      .chakra-tabs {
        width: 100%;
      }
    }
  }
}

@media only screen and (max-width: 825px) {
  .radarComponents {
    margin: 0 auto;
    width: 90%;
  }
  h2.chakra-heading {
    font-size: 23px !important;
    margin-top: 20px !important;
  }
  .tabsComponents {
    margin: 20px auto;
    display: flex;
    justify-content: center;
    width: 90%;
    min-width: 370px;
    overflow-x: auto;
  }
  .tabsComponents p {
    width: auto;
  }
  .tabsComponents h5 {
    font-size: 15px !important;
    font-weight: thin !important;
  }
}

@media only screen and (min-width: 768px) {
  .radarComponents {
    margin: 0 auto;
    width: 90%;
  }
  .radarTitle {
    font-size: 23px !important;
    margin-top: 160px !important;
  }
  .tabsComponents {
    margin: 20px auto;
    display: flex;
    justify-content: center;
    width: 90%;
    min-width: 370px;
    overflow-x: auto;
  }
  .tabsComponents p {
    width: auto;
  }
  .tabsComponents h5 {
    font-size: 15px !important;
    font-weight: thin !important;
  }
}

@media only screen and (min-width: 600px) {
  .radarComponents {
    margin: 0 auto;
    width: 100%;
  }
  .radarTitle {
    font-size: 23px !important;
    margin: 160px 20px 20px 20px !important;
  }
  .tabsComponents {
    margin: 20px auto;
    display: flex;
    justify-content: center;
    width: 100%;
    min-width: 370px;
    overflow-x: auto;
  }
  .tabsComponents p {
    width: auto;
    font-weight: 600;
  }
  .tabsComponents h5 {
    font-size: 15px !important;
    font-weight: 500 !important;
  }
  .tabsComponents h6 {
    font-size: 15px !important;
    font-weight: 500 !important;
  }
}

@media only screen and (max-width: 991px) {
  .radarComponents {
    margin: 0 auto;
  }
  .radarTitle {
    font-size: 23px !important;
    margin-top: 20px !important;
  }
  .tabsComponents {
    margin: 20px auto !important;
    display: flex;
    justify-content: center;
    width: 90%;
    min-width: 370px;
    overflow-x: auto;
  }
  .radarContainer {
    margin: 0 auto;
  }
}

@media only screen and (min-width: 1149px) {
  .radarComponents {
    width: 100%;
  }

  .radarTitle {
    font-size: 23px !important;
    margin: 0 0 0 35px !important;
    width: 80%;
  }
  .tabsComponents {
    margin: 80px 0 0 80px !important;
    min-width: 400px !important;
  }
}

@media only screen and (min-width: 1200px) {
  .radarComponents {
    margin: 0 auto;
    width: 90%;
  }
  .radarTitle {
    font-size: 30px !important;
    margin: 0 0 0 35px !important;
    width: 100%;
  }
  .tabsComponents {
    margin: 80px 0 0 80px !important;
    min-width: 500px !important;
  }
}

@media only screen and (min-width: 992px) {
  .radarTitle {
    font-size: 23px !important;
    margin: 0 0 0 35px !important;
    width: 90%;
  }
  .tabsComponents {
    margin: 80px 0 0 80px !important;
    max-width: 290px !important;
  }
  .how-to-button {
    right: 150px !important;
  }
}
#chakra-modal-3.filter-modal {
  top: 75px !important;
  @media only screen and (max-width: 767px) {
    top: 155px !important;
  }
}

@media only screen and (max-width: 991px) {
  .how-to-button {
    left: 55px;
    width: fit-content !important;
  }
  .radarTitleContainer {
    flex-direction: column;
    top: 50px;
    width: 90%;
    align-items: center;
  }
  .radarTitle {
    width: fit-content;
  }
  .radarComponents {
    z-index: 1;
    margin-top: 80px;
  }
}

@media only screen and (max-width: 767px) {
  .radarTitleContainer {
    display: none;
  }
  .option-button {
    display: none;
  }
  .radarContainer {
    path,
    circle {
      display: none;
    }

    text {
      &.horizon-text {
        display: none;
      }
    }

    g.quadrant-text {
      scale: 1.9;

      &.quadrant-preparedness {
        translate: 1.5vw 15.5vh;
        position: relative;
      }

      &.quadrant-response {
        translate: -5.5vw 15.5vh;
      }

      &.quadrant-mitigation {
        translate: 5.5vw -15.5vh;
      }

      &.quadrant-recovery {
        translate: -5.5vw -15.5vh;
      }
    }

    .tabsComponents {
      display: none;
    }

    .radarComponents {
      width: 100vw;
      @media only screen and (max-width: 571px) {
        transform: scale(0.7);

        div:first-of-type {
          display: flex;
          justify-content: center;
          overflow: visible !important;
        }
      }

      @media only screen and (max-width: 392px) {
        transform: scale(0.4);
      }
    }

    .maturity-levels-desc {
      display: none;
    }
  }
  .radarTitle {
    font-size: 23px !important;
  }
}

.quadrantView {
  @media only screen and (max-width: 1130px) {
    flex-direction: column;
    align-items: center;

    button {
      align-self: flex-start;
    }
    .horizontalList {
      div {
        min-width: 60vw;
        max-width: 80vw;
        margin-bottom: 40px;
      }
    }
    .quadrantRadar {
      transform: scale(1.2);
    }
  }
  @media only screen and (max-width: 767px) {
    padding-top: 90px !important;
    width: 100vw;
    .horizontalList {
      margin-top: -40px;
      div {
        margin-bottom: 100px !important;
      }
      @media only screen and (max-width: 571px) {
        margin-top: -100px;
      }
      @media only screen and (max-width: 392px) {
        margin-top: -200px;
      }
    }
    .quadrantRadar {
      transform: scale(1);
      margin-top: -40px;

      @media only screen and (max-width: 571px) {
        transform: scale(0.7);
        margin-top: -40px;
      }
      @media only screen and (max-width: 392px) {
        transform: scale(0.4);
        margin-top: -100px;
      }
    }
  }
}
