.homePage {
  display: flex;
  flex-direction: column;
  overflow: auto;
  padding: 60px;

  .logoSection {
    position: sticky;
    padding-bottom: 50px;
  }

  .bodySection {
    width: 70%;

    .maintitle {
      font-size: 36px;
      font-weight: 700;
      line-height: 44px;
      letter-spacing: 0em;
      text-align: left;
      color: #0062ac;
      padding-bottom: 75px;
    }

    .descriptionSection {
      display: flex;
      flex-direction: column;

      .aboutDetails {
        -webkit-box-orient: vertical;
        display: -webkit-box;
        font-size: 16px;
        font-weight: 400;
        line-height: 24px;
        text-align: left;
        text-overflow: ellipsis;
        padding-bottom: 40px;
      }
      #bold {
        font-weight: 800;
      }
    }
  }

  .projectSections {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  @media only screen and (max-width: 767px) {
    padding: 20px;
    .logoSection {
      width: 40%;
      padding-top: 100px;
    }

    .bodySection {
      width: 100%;

      .maintitle {
        padding-bottom: 45px;
        font-size: 26px;
        line-height: 34px;
      }
      .descriptionSection {
        .aboutDetails {
          font-size: 12px;
          line-height: 16px;
          padding-bottom: 20px;
        }
      }
    }

    .projectSections {
      flex-direction: column;
    }
  }
}
