#am5MapDiv {
  width: 100%;
  height: 55vh;
  @media only screen and (max-width: 1600px) {
    height: 50vh;
  }
}

.radarMapView {
  overflow: hidden;
  padding: 0 1rem;
  width: 100%;
}

.mapContainer {
  display: flex;
  flex-direction: column;
  max-height: 90vh;

  .slider {
    font-size: 14px;
    max-height: 400px;
    -ms-overflow-style: none; /* IE and Edge */
    padding: 10px;
    scrollbar-width: none; /* Firefox */
    zoom: 0.8;

    .badgeContainer {
      height: 45px;
      overflow: auto;
    }

    img {
      height: 80px;
      object-fit: scale-down;
    }
    + div {
      max-width: 300px;
    }

    button {
      height: 25px;
      background-color: none;
      justify-content: flex-start;
      width: fit-content;
    }
    &::-webkit-scrollbar {
      display: none;
    }
  }
}
